.image-logo {
  max-width: 50px;
  max-height: 50px;
}

.image-icon {
  max-width: 20px;
  max-height: 20px;
  color: rgba(251, 251, 251, 0.15);
}

.button-shop {
  margin: 0;
  width: 100%;
  padding: 10px 20px;
  font-weight: bold;
}
